<% include ./layout %>
<div class="container">
    <h3>Bienvenido, <%= user.name %></h3>
    <hr>
    <h4>
    Sistema de administración, gestión y registro de contenidos documentales
    </h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <% if(clients) { %>
          <h4>Clientes en los que trabajas actualmente</h4>
          <hr>
          <div class="list-group">
            <% for(var i = 0; i < clients.length; i++) { %>
              <div class="list-group-item">
                <a href="/clients/<%= clients[i]._id %>">
                    <h4 class="list-group-item-heading">
                      <i class="fa fa-university"></i> <%= clients[i].name %>
                    </h4>
                    <p class="list-group-item-text">
                      <%= clients[i].desc %>
                    </p>
                </a>
              </div>
            <% } %>
          </div>
        <% } else { %>
          <p>Aun no tienes ningun cliente agregado</p>
        <% } %>
      </div>
      <div class="col-md-6">
        <h4>Ultimos documentos subidos</h4>
        <hr>
        <% if(documents.length > 0 ) { %>
          <div class="list-group">
            <% for(var j = 0; j < documents.length; j++) { %>
              <div class="list-group-item">
                <a href="/documents/<%= documents[j].query%>">
                    <h4 class="list-group-item-heading">
                      <% if(documents[j].extension === '.PDF') { %>
                        <i class="fa fa-file-pdf-o"></i>
                        <%= documents[j].name %>
                      <% } else if(documents[j].extension === '.DOCX' || documents[j].extension === '.DOC'){ %>
                        <i class="fa fa-file-word-o"></i>
                        <%= documents[j].name %>
                      <% } else if(documents[j].extension === '.PPTX' || documents[j].extension === '.PPT'){ %>
                        <i class="fa fa-file-excel-o"></i>
                        <%= documents[j].name %>
                      <% } else if(documents[j].extension === '.XLSX' || documents[j].extension === '.XLS'){ %>
                        <i class="fa fa-file-powerpoint-o"></i>
                        <%= documents[j].name %>
                      <% } %>
                    </h4>
                    <p class="list-group-item-text">
                      <i class="fa fa-calendar"></i> <%= documents[j].created_at.toString().substring(0, 15)  %>
                    </p>
                </a>
              </div>
            <% } %>
          </div>
        <% } else { %>
          <p>Aun no has subido ningún documento</p>
        <% } %>
      </div>
    </div>
</div>
<% include ./footer %>
