<% include ../layout %>
<div class="col-md-3 filebar">
    <h4> Cliente: <a href="/clients/<%= client._id%>"> <%=client.name%> </a></h4>
    <h5> Proyecto: <%= project.name %> </h5>
    <p id="projectDate"></p>
    <p> Descripción: <%= project.desc %> </p>
    <br>
    <div style="margin-right: 30%; margin-left: 30%">
      <a href="<%= client.template %>" download>
         <button type="button" name="button" class="btn btn-success">
           <i class="fa fa-cloud-download" aria-hidden="true"></i> Plantilla </button>
      </a>
    </div>
    <hr style="border: 1px solid #F17300">
    <p> Dominio de correo: <span class="specialLabel"> <%=client.domainEmail%> </span></p>
</div>
<div class="col-md-9">
  <div class="container-fluid">
      <div class="row dirInfo">
        <% if(actualPath.length === 1) {%>
          <div class="col-md-12">
            <h4>
                <a href="/clients/<%=client._id%>/projects/<%=project._id%>/project"><i class="fa fa-home fa-2"></i> Inicio </a>
            </h4>
          </div>
        <% } else { %>
            <div class="col-md-9">
              <h4>
              <% for(var i=0; i < actualPath.length; i++){ %>
                <% if(i===0) { %>
                  <a href="/clients/<%=client._id%>/projects/<%=project._id%>/project">
                   <i class="fa fa-home fa-2"></i> Inicio
                  </a>
                  <i class="fa fa-caret-right"></i>
                <% } else { %>
                  <a href="?path=<%= actualPath[i] %>"> <%= actualPath[i] %> </a>
                  <% if(i !== actualPath.length-1) {%>
                    <i class="fa fa-caret-right"></i>
                  <% } %>
                <% } %>
              <% } %>
              </h4>
            </div>
            <div class="col-md-3">
              <button id="upload" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Subir documento </button>
            </div>
        <% } %>
      </div>
    <hr>
    <% if(dirs.length > 0) { %>
      <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tamaño (bytes)</th>
                    <th>Ultima vez modificado</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < dirs.length; i++) { %>
              <% if(dirs[i].folder) {%>
                      <tr>
                        <td>
                          <a class="link" href="?path=<%=dirs[i].path%>">
                            <i class="fa fa-folder"></i> <%= dirs[i].name %>
                          </a>
                        </td>
                        <td><%= dirs[i].size %></td>
                        <td class="date"><%= dirs[i].last_modified %></td>
                      </tr>
                  <% } else {%>
                      <tr>
                        <td>
                          <a class="link" href="/documents/<%= dirs[i].name %>">
                            <i class="fa fa-file"></i> <%= dirs[i].name.split('_')[0] %>
                          </a>
                        </td>
                        <td><%= dirs[i].size %></td>
                        <td class="date"><%= dirs[i].last_modified %></td>
                      </tr>
                    </a>
                  <% } %>
              </tr>
            <% } %>
            </tbody>
        </table>
    <% } else { %>
      <tr>
        No existen archivos en este directorio por los momentos
      </tr>
    <% } %>
  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Subir documento en <%= actualPath[actualPath.length-1] %></h4>
      </div>
      <div class="modal-body">
        <form action="/documents/new?client=<%= client.name %>&project=<%= project.name %>&actualPath=<%= pathFolder %>&clientId=<%=client._id%>&projectId=<%= project._id %>" method="POST" class="dropzone" id="dropFile">
        </form>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    let projectDate = "<%= project.created_at %>";
    $('#projectDate').html("Fecha de creación: " + moment(projectDate).format('DD/MM/YYYY'));
    Dropzone.options.dropFile = {
      paramName: "document",
      clickable : false,
      uploadMultiple :false
    };
  });
</script>
<% include ../footer %>
