<% include ../layout %>
<div class="row">
  <h3> Proyecto <%= project.name %>
  <span class="pull-right">
    <%=client.name%>
  </span>

  </h3>
  <hr>
  <div>
    <%= JSON.stringify(project) %>
  </div>
  <div class="list-group">
    <% if(dirs.length > 0){ %>
      <% for(var i=0; i < dirs.length; i++) { %>
        <div class="list-group-item">
          <a class="link" href="?path=<%=dirs[i]%>">
              <h4 class="list-group-item-heading">
                <i class="fa fa-folder"></i> <%= dirs[i] %>
              </h4>
          </a>
        </div>
      <% } %>
    <% } else { %>
      No existen archivos en este directorio por los momentos
    <% } %>
    <!--
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Planificacion
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Ejecución
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Seguimiento y Control
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Trancisión
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Otros
          </h4>
      </a>
    </div>
    -->
  </div>
</div>
<% include ../footer %>
