<% include ../layout %>
<div class="row">
  <h3> Proyectos de <%= client.name %>
    <% if(user.role==='admin') { %>
      <a href="/admin/clients/<%= client._id %>/projects/new"> + </a>
    <% } %>
  </h3>
  <hr>
  <% for (var i = 0; i < projects.length; i++){ %>
    <div class="list-group-item">
      <a class="link" href="/clients/<%=client._id%>/projects/<%=projects[i]._id%>/project">
          <h4 class="list-group-item-heading">
            <i class="fa fa-tasks"></i> <%= projects[i].name %>
          </h4>
      </a>
    </div>
  <% } %>
</div>
<% include ../footer %>
