<% include ../../layout %>
  <h3> Editing user: <%= requestedUser.username %> </h3>
  <hr>
  <div class="form-group normalForm">
    <form id="infoForm" action="/admin/users/postUser" method="POST">
      <label for="username">Username: </label>
      <input type="text" name="username" value="<%= requestedUser.username %>" class="form-control" disabled>

      <label for="name">Name: </label>
      <input type="text" name="name" value="<%= requestedUser.name %>" class="form-control" disabled>

      <label for="lastname">Lastname: </label>
      <input type="text" name="lastname" value="<%= requestedUser.lastname %>" class="form-control" disabled>

      <label for="lastname">Email: </label>
      <input type="text" name="email" value="<%= requestedUser.email %>" class="form-control" disabled>

      <label for="lastname">Role: </label>
      <input type="text" name="role"
      class="form-control" value="<%= requestedUser.role %>" disabled>

      <label for="lastname">Working on: </label>
      <input type="text" name="working_on" value="<%= requestedUser.working_on %>"
      class="form-control" disabled>

      <label for="phone">Teléfono: </label>
      <input type="text" name="phone" value="<%= requestedUser.phone %>"
      class="form-control" disabled>
      <input type="hidden" name="info" value="true">
      <br>
      <button class="btn btn-default" id="info" value="true" type="button" name="Edit">Edit</button>
      <button class="btn btn-danger pull-right" id="delete">Desactivar</button>
      <span class="btn btn-danger" type="hidden" id="cancelInfo">Cancel</span>
    </form>
    <hr>
    <!--
    <form id="passwordForm" action="profile" method="POST">
      <h4>Change the password</h4>
      <br>
      <label for="password">Old password: </label>
      <input type="password" name="oldPassword" class="form-control" placeholder="Your password" disabled>
      <label for="newPassword1">New password: </label>
      <input type="password" name="newPassword1" class="form-control" placeholder="Your new password" disabled>
      <label for="newPassword2">Repeat the new password: </label>
      <input type="password" name="newPassword2" class="form-control" placeholder="Repeat your new password" disabled>
      <input type="hidden" name="password" value="true">
      <br>
      <button class="btn btn-default" id="password" type="button" name="Edit" value="true">Edit</button>
      <span class="btn btn-danger" type="hidden" id="cancelPassword">Cancel</span>
    </form>
    -->
  </div>
<% include ../../footer %>

<script type="text/javascript">
$('#cancelInfo').hide();
$('#cancelPassword').hide();
$(document).ready(function(){
  $('#info').on('click', function(){
    $('#info').hide();
    $('#cancelInfo').show();
    $('#infoForm').append('<button class="btn btn-success" type="submit" id="submit" name="info">Submit</button>');
    $('#infoForm input').removeAttr('disabled');
  });

  $('#password').on('click',function(){
    $('#password').hide();
    $('#cancelPassword').show();
    $('#passwordForm').append('<button class="btn btn-success" type="submit" id="submit" name="password">Submit</button>');
    $('#passwordForm input').removeAttr('disabled');
  });

  $('#cancelInfo').on('click',function(){
    $('#info').show();
    $('#infoForm input').prop('disabled',true);
    $('#submit').remove();
    $('#cancelInfo').hide();
  });

  $('#cancelPassword').on('click',function(){
    $('#password').show();
    $('#passwordForm input').prop('disabled',true);
    $('#submit').remove();
    $('#cancelPassword').hide();
  });
});
</script>
